<html ng-app="app">

<head>
    <title>Directive-ifelse</title>
    <!-- 1. require angular  -->
    <script src="../vendor/angular/angular.js"></script>
    <script src="./js/8_ng-repeatCtrl.js"></script>
</head>

<body>
<div ng-controller="Ng-repeatCtrl">
    <!-- Array with object -->
    <table border="1">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="n in Nodejsroiet">
            <td>{{ $index + 1 }}</td>
            <td ng-if="n.id == 1"><span style="color: red;">{{ n.name }}</span></td>
            <td ng-if="n.id != 1">{{ n.name | lowercase }}</td>
        </tr>
        </tbody>
    </table>

</div>


</body>

</html>