<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Templates ระบบ</title>

    <link href="../vendor/lumx/dist/lumx.css" rel="stylesheet">
    <link href="../vendor/mdi/css/materialdesignicons.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

    <script src="../vendor/jquery/dist/jquery.js"></script>
    <script src="../vendor/velocity/velocity.js"></script>
    <script src="../vendor/moment/min/moment-with-locales.js"></script>
    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/lumx/dist/lumx.js"></script>
    <script src="./js/0_indexCtlr.js"></script>

</head>
<body ng-app="app">

<div class="card p+">
    <div class="toolbar">


        <span class="toolbar__label fs-title">ระบบสารสนเทศ</span>

        <div class="toolbar__right">
            <lx-search-filter closed theme="light"></lx-search-filter>

            <lx-dropdown position="right" from-top>
                <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                    <i class="mdi mdi-dots-vertical"></i>
                </button>

                <lx-dropdown-menu>
                    <ul>
                        <li><a class="dropdown-link">Action</a></li>
                        <li><a class="dropdown-link">Another action</a></li>
                        <li><a class="dropdown-link">Something else here</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
                        <li><a class="dropdown-link">Separated link</a></li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
        </div>
    </div>

    <div class="tc-white-1" flex-container="row">
        <div flex-item="2" flex-item-order="1"><div class="p+ bgc-red-500">

            Menu
        </div>


        </div>
        <div flex-item="10" flex-item-order="3"><div class="p+ bgc-blue-500">ระบบข้อมูล Angular Lumx</div>
            <div class="mt++">
                <div flex-item>
                    <form>
                        <lx-text-field label="First and last name" fixed-label="true" icon="account">
                            <input type="text" ng-model="textFields.fixedFirstName">
                        </lx-text-field>

                        <lx-text-field label="Phone number" fixed-label="true" icon="phone">
                            <input type="text" ng-model="textFields.fixedLastName">
                        </lx-text-field>

                        <lx-text-field label="Email address" fixed-label="true" icon="email">
                            <input type="email" ng-model="textFields.fixedEmail">
                        </lx-text-field>

                        <lx-text-field label="Location" fixed-label="true" icon="city">
                            <input type="text" ng-model="textFields.fixedAdress">
                        </lx-text-field>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>